#original-repo-link {
    color: #61dafb
}

#foreword {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: middle;
    height: inherit;
}

#profile-span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile p {
    padding-left: 2em;
}